/* @import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"); */
@font-face {
  font-family: "MyFont";
  src: url("Cairo.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyFont";
}
/* ---------------Header Proprities--------------- */
nav {
  background-color: rgb(4, 162, 233) !important;
  top: 0;
  padding: 0 85px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1000;
  align-items: center;
  height: 80px;
  box-shadow: 0 5px 30px #a6a5a5;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo a {
  margin-left: 8px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding-left: 120px;
}
nav .logo img {
  width: 80px;
  height: 60px;
}
nav ul li {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 40px;
}
nav ul a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}
nav ul a:hover {
  text-decoration: underline;
  color: #ffffe0;
  font-weight: bold;
}
nav button#menuButton {
  width: 35px;
  height: 35px;
  display: none;
  background-color: transparent;
  background-image: url("Images/burger.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
/* ---------------Home page Proprities--------------- */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
  height: auto;
}
.home-sec1 {
  background-color: #ffff;
}
.home-sec1-desc {
  margin-top: 75px;
}
.home-sec1-desc h2 {
  color: #015074;
  font-size: 25px;
  margin-right: 90px;
  margin-bottom: auto;
}
h3,
a,
button {
  text-decoration: none !important;
}
span {
  color: #04a2e9;
  font-size: 30px;
  font-weight: bold;
}
.home-sec1-desc p {
  color: #535353;
  font-size: 20px;
  max-width: 600px;
  margin-right: 90px;
  margin-top: auto;
}
#home-sec1-desc-btn {
  padding: 3px 30px;
  border: 2px solid #04a2e9;
  border-radius: 5px;
  text-decoration: none;
  color: #04a2e9;
  margin-right: 90px;
}
#home-sec1-desc-btn:hover {
  border: 2px solid #025277;
  background-color: #04a2e9;
  color: #ffff;
  box-shadow: 0px 0px 15px 0px #68cdfc;
}
.home-sec1-img img {
  margin: 11% 12% 0px auto;
  width: 65%;
  height: auto;
}
.Info-video {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}
.Info-video-desc {
  color: #073c54;
  text-align: center;
  background-color: #f0f0f0;
}
.Info-video video {
  width: 500px;
  height: 300px;
  border: 2px solid #073c54;
  margin: 10px 0px 15px 0px;
}
.home-sec2 {
  background-color: #fff;
  color: #434040;
  height: auto;
}
.home-sec2-img img {
  width: 35%;
  height: auto;
  margin-right: 40%;
}
.home-sec2-desc {
  margin-right: 5%;
  width: 80%;
}
.home-sec2-desc ul li {
  font-weight: bold;
  font-size: 20px;
  color: #073c54;
}
.home-sec2-desc ol li {
  font-weight: bold;
  font-size: 18px;
  color: #5d5d5d;
}
/* -------------------------------------------------- */

.content {
  padding: 80px 0px;
  position: static;
}
.content h1 {
  color: #073c54;
  font-weight: bold;
  padding: 20px 40px;
  margin-bottom: 20px;
}
.content h1 {
  color: #073c54;
  font-weight: bold;
  margin-bottom: 20px;
}

.Courses {
  background-color: #f0f0f0;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.course {
  /* background-color: #000; */
  padding: 20px;
  width: 30%;
  position: relative;
  text-align: center;
}

.course-image {
  background-color: #fff;
  padding: 20px;
  color: #000;
  border: 5px solid #04a2e9;
  border-radius: 20px;
  text-align: center;
  height: 250px;
}

.course-image:hover {
  box-shadow: 0 0px 30px 0px #95d0eb;
  /* transform: translateY(-40px);
  transform: scale(1.1); */
}

.course-image img {
  width: 100%;
  height: auto;
}

button {
  height: 45px;
  width: 220px;
  margin-top: 10px;
  padding: 10px;
  border: 3px solid rgb(3, 94, 110);
  background-color: #04a2e9;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
}

button:hover {
  background-color: #fff;
  color: #04a2e9;
}

button a:hover {
  color: #04a2e9;
}
#network {
  width: 100%;
  height: 110%;
}
#algorithm {
  width: 60%;
  height: auto;
}
#web {
  width: 60%;
  height: auto;
}
/* ---------------About page  Proprities--------------- */
.about-page {
  margin-top: 10%;
}
.about-title {
  color: #073c54;
  font-size: 35px;
  font-weight: bold;
  margin: auto 60px;
}
.Info-about1 {
  background-color: #04a2e9;
  display: flex;
  flex-direction: row;
}
.Info-about1-desc {
  color: #fff;
  font-size: 20px;
  margin: auto 40px;
}
.Info-about1-desc h3 {
  font-size: 30px;
  font-weight: bold;
}
.Info-about1-desc p {
  max-width: 650px;
}
.Info-about1-img img {
  width: 500px;
  height: 400px;
  border: 3px solid #073c54;
  /* border-radius: 25px; */
  float: left;
  margin-right: 120px;
}
.Info-about2 {
  margin: 10px 40px;
}
.Info-about2 h2 {
  color: #073c54;
  font-size: 30px;
  font-weight: bold;
}
.Info-about2 p {
  color: #343434;
  font-size: 20px;
  max-width: 900px;
}
/* ---------------Programming-Courses page  Proprities--------------- */
.prog-title h2 {
  padding: 30px 20px;
  text-align: right;
  margin-top: 80px;
}
.prog-course {
  background-color: #f0f0f0;
  padding: 40px 20px 20px 20px;
}
.prog-course1 {
  padding: 15px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 900px;
  text-align: right;
}
.course1-image {
  background-color: #fff;
  padding: 20px;
  color: #000;
  border: 3px solid rgb(3, 94, 110);
  text-align: center;
  width: 250px;
  height: 150px;
  min-width: 200px;
  position: relative;
}
.course1-image img {
  width: 100%;
  height: auto;
}
.course1-desc {
  padding: 2px 5px;
  flex: 1;
  height: auto;
  max-width: 1000px;
}
.course1-desc p {
  padding-bottom: 10px;
  color: #3e3d3d;
  font-size: 15px;
  max-width: 1500px;
}
.course1-desc a {
  padding: 2px 40px;
  border: 3px solid #04a2e9;
  background-color: #fff;
  color: #04a2e9;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
.course1-desc a:hover {
  border: 3px solid rgb(4, 100, 233);
  background-color: #04a2e9;
  color: #fff;
}
#download-btn {
  padding: 2px 40px;
  border: 3px solid red;
  background-color: #fff;
  color: red;
  font-weight: bold;
  cursor: pointer;
  border-radius: 7px;
  text-decoration: none;
}
#download-btn:hover {
  border: 3px solid rgb(150, 0, 0);
  background-color: red;
  color: #fff;
}
#cplus-image {
  width: 63%;
  height: 100%;
}
#Step-bystepBook {
  width: 180px;
  height: auto;
}
#lBook {
  width: 130px;
  height: 100px;
}
#str-course {
  margin-top: 100px;
}
#str-image {
  width: 115px;
  height: 100px;
}
#oop {
  margin-top: 100px;
}
#oop-image {
  width: 100%;
  height: 100%;
}
#oop-backimage {
  background-color: #0794d5;
}
#l-image {
  background-color: rgb(247, 240, 240);
}
#oop-book {
  width: 70%;
  height: 100%;
}
#c-sharp {
  width: 100%;
  height: 185px;
  margin-top: -40px;
}
#c-sharp-w {
  width: 90%;
  height: 120px;
  margin-top: -10px;
}
#c-book {
  width: 63%;
  height: 100%;
  margin-top: 5px;
}
/* ---------------NLP-Courses page  Proprities--------------- */
#python-image {
  width: 63%;
  height: 100%;
  margin-top: 3px;
}
#nlp-image {
  width: 100%;
  height: 140px;
  margin-top: -20px;
}
#pandas-book {
  width: 75%;
  height: 100%;
  /* margin-top: 3px; */
}
#mat-image {
  width: 90%;
  height: 100%;
  margin-top: 3px;
}
#nlp-image2 {
  width: 75%;
  height: 100%;
  margin-top: 3px;
}
#nlp-book {
  width: 100%;
  height: 100%;
  margin-top: 3px;
}
#nlp-project {
  width: 70%;
  height: 100%;
  margin-top: 3px;
}
/* ---------------Networks-Courses page  Proprities--------------- */
#nw1-image {
  width: 63%;
  height: 100%;
  margin-top: 3px;
}
#nw2-image {
  width: 66%;
  height: 100%;
}
#nw3-image {
  width: 75%;
  height: 100%;
}
#net3-g {
  width: 70%;
  height: 100%;
}
#net4-g {
  width: 90%;
  height: 100%;
}
/* ---------------Algorithm-Courses page  Proprities--------------- */
#Algor1-image {
  width: 88%;
  height: 100%;
}
#Algor2-image {
  width: 55%;
  height: 100%;
}
#Algor3-img {
  width: 55%;
  height: 100%;
}
#ds-image {
  width: 63%;
  height: 100%;
}
#algor6-g {
  width: 88%;
  height: 100%;
}
#algor6-image {
  width: 115px;
  height: 100px;
}
/* ---------------Web-Courses page  Proprities--------------- */
.prog-course h2 .fa-html5 {
  font-size: 50px;
  color: #e34c26;
  margin: 0px 5px;
}
.prog-course h2 .fa-css3-alt {
  font-size: 50px;
  color: #264de4;
  margin: 0px 5px;
}
.prog-course h2 .fa-js {
  font-size: 60px;
  color: #f0db4f;
  margin: 5px;
}
.html-title,
.css-title,
.JavaScript-title {
  font-size: 50px;
  color: #343434;
}
#html-img {
  width: 47%;
  height: 100%;
  margin-top: 10px;
}
#css-image {
  width: 55%;
  height: 100%;
  margin-top: 10px;
}
#h-image {
  background-color: #7dc548;
}
#html-t {
  width: 68%;
  height: auto;
}
#css-image2 {
  width: 75%;
  height: 100%;
}
#css-t {
  width: 63%;
  height: 100%;
}
#web-proj1 {
  width: 65%;
  height: 100%;
}
#bs-image {
  width: 60%;
  height: 100%;
}
#j-image {
  width: 60%;
  height: 100%;
  margin-top: 10px;
}
#j-image2 {
  width: 73%;
  height: 100%;
}
#java-backimage {
  background-color: #e2c222;
}
#web-front {
  width: 75%;
  height: 100%;
}
/* ---------------App-Courses page  Proprities--------------- */
#dart-image {
  width: 80%;
  height: 100%;
}
#dart-book {
  width: 65%;
  height: auto;
}
#Android-img {
  width: 80%;
  height: 100%;
}
#flutter-img {
  width: 55%;
  height: auto;
  margin: 10px 15px 0px 0px;
}
#flutter-img2 {
  width: 58%;
  height: auto;
}
#flutter-img3 {
  width: 63%;
  height: auto;
}
#flutter-img4 {
  width: 65%;
  height: auto;
}
#flutter-project {
  width: 53%;
  height: auto;
}
/* ---------------Contact page  Proprities--------------- */
.contact_us a {
  text-decoration: none;
}
#countact {
  margin-right: 16%;
  font-size: 35px;
  color: #073c54;
  margin-bottom: 20px;
  margin-top: 100px;
}

.contact_us ul {
  list-style: none;
}

.contact_us li {
  margin: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  margin-right: 65px;
}
.social-icons2 {
  margin: 29px 29px -20px 0px;
  display: flex;
  justify-content: right;
}
.social-icons2 a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 17px;
}
#Conc {
  font-size: 13px;
}
.social-icons2 a i {
  font-size: 35px;
}
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #073c54;
  border-radius: 30px;
  margin-bottom: 20px;
  width: 70%;
}

.contact-info {
  background-color: #04a2e9;
  color: white;
  padding: 20px;
  border-radius: 0px 30px 30px 0px;
  margin: -20px;
  width: 80%;
}
.contact-info p {
  text-align: right;
  margin-right: 65px;
  max-width: 400px;
  font-size: 18px;
}
.contact-form {
  width: auto;
  margin-right: 100px;
}

.input-group {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  margin: 10px;
  padding: 10px;
  border:+2 1px solid #777676;
  border-radius: 5px;
  width: 45%;
  color: black;
  font-size: 17px;
}

textarea {
  width: 95%;
  height: 150px;
  padding: 10px;
  border: 1px solid #777676;
  border-radius: 5px;
  margin: 10px;
  color: black;
  font-size: 17px;
}

#contact-btn {
  background-color: #04a2e9;
  padding: 10px;
  width: 83%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 45px;
  color: #fff;
}
#contact-btn:hover {
  background-color: #0674a7;
}
/* ---------------visitors_opinions page Proprities--------------- */
.visitors_opinions {
  font-size: 13px;
}

.word-visitors,
.word-instegram,
.word-facebook,
.word-x {
  padding: 20px 40px 0 20px;
  color: #04a2e9;
  height: max-content;
  font-size: 23px;
}

.word-visitors {
  margin-top: 80px;
}

.word-instegram,
.word-facebook,
.word-x {
  margin: 0 0 0 25px;
}

.instegram,
.facebook,
.x {
  background-color: rgba(202, 234, 247, 0.959);
  padding: 40px 0 30px;
  display: flex;
  justify-content: center;
}

.person1,
.person2,
.person3,
.person4 {
  background-color: #fff;
  padding: 15px 15px 0 0px;
  margin: 0 15px;
  border: #04a2e9 solid 3px;
  border-radius: 25px;
  width: 20%;
}

.person1:hover,
.person2:hover,
.person3:hover,
.person4:hover {
  box-shadow: 0px 0px 25px 0px #585858;
}

.can-pakistan,
.can-garmany,
.can-america,
.can-yaman,
.can-saudia,
.can-egypt,
.can-morocco,
.can-australia,
.can-sudan,
.can-turkey,
.can-canada,
.can-syria,
.comment1,
.comment2,
.comment3,
.comment4 {
  color: rgba(0, 0, 0, 0.726);
}

.comment1,
.comment2,
.comment3,
.comment4 {
  margin: 0 10px 10px 0;
  font-size: 14px;
  overflow: hidden;
}

.name1,
.name2,
.name3,
.name4 {
  margin-top: -5px;
  margin-right: 5px;
  width: max-content;
  height: max-content;
}

.can-pakistan,
.can-garmany,
.can-america,
.can-yaman,
.can-saudia,
.can-egypt,
.can-morocco,
.can-australia,
.can-sudan,
.can-turkey,
.can-canada,
.can-syria {
  font-size: 11px;
  margin-top: 15px;
  width: max-content;
  height: max-content;
}

.can-pakistan {
  margin-right: -67px;
}

.can-garmany {
  margin-right: -70px;
}

.can-america {
  margin-right: -75px;
}

.can-yaman {
  margin-right: -63px;
}

.can-saudia {
  margin-right: -61px;
}

.can-egypt {
  margin-right: -100px;
}

.can-morocco {
  margin-right: -80px;
}

.can-australia {
  margin-right: -50px;
}

.can-sudan {
  margin-right: -75px;
}

.can-turkey {
  margin-right: -65px;
}

.can-canada {
  margin-right: -61px;
}

.can-syria {
  margin-right: -85px;
}

.photo-per1,
.photo-per2,
.photo-per3,
.photo-per4 {
  display: flex;
  width: max-content;
}

.photo1,
.photo2,
.photo3,
.photo4 {
  border-radius: 20px;
  margin-top: -10px;
}

.name1,
.name2,
.name3,
.name4 {
  display: block;
  padding: 0 7px 0 0;
}

.fa-brands {
  font-size: 100%;
}

.instegram-icone,
.facebook-icone,
.x-icone {
  display: inline-block;
  color: rgba(17, 17, 17, 0.952);
}

.fa-heart,
.fa-comment,
.fa-paper-plane,
.fa-bookmark,
.fa-thumbs-up,
.fa-whatsapp,
.fa-share,
.fa-retweet,
.fa-share-nodes {
  font-size: 140%;
  padding: 0 17px 15px 17px;
}

.x-icone .fa-comment,
.x-icone .fa-retweet,
.x-icone .fa-heart,
.x-icone .fa-bookmark,
.x-icone .fa-share-nodes {
  padding: 0 12px 15px 12px;
}
/* ---------------Footer Proprities--------------- */
footer {
  background-color: #04a2e9;
  padding: 20px 0; /* قلل الحشوة إذا كنت ترغب في ذلك */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* إزالة margin-top أو تقليله */
  margin-top: 50px;
}
footer .social-links {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
footer .social-links i {
  font-size: 28px;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  transition: color 0.3s ease;
}
footer .line {
  width: 50%;
  height: 4px;
  background-color: #fff;
  margin: 5px 0 20px;
}
footer p {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
/* -------------------------------------------------- */
@media screen and (max-width: 1200px) {
  footer .social-links i {
    font-size: 28px;
  }
  footer .social-links {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
  }
  footer .line {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 2px 0 20px;
  }
  footer p {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
  /*----------------------------------------*/
  .course {
    width: 40%;
  }
  .course-image {
    height: auto;
  }
  /*----------------------------------------*/
  /* ---------------Contact page  Proprities--------------- */
  #countact {
    font-size: 30px;
  }
  .social-icons {
    justify-content: right;
  }

  .social-icons a {
    margin-right: 30px;
  }

  .social-icons a i {
    font-size: 25px;
    justify-content: right;
    margin-top: -200px;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 80%;
  }
  .contact-info {
    border-radius: 27px 27px 0px 0px;
    width: 105%;
    height: auto;
  }
  .contact-info p {
    margin-right: 44px;
    max-width: 420px;
    font-size: 17px;
  }
  .contact-info p a li {
    font-size: 12px;
  }
  .social-icons2 a i {
    font-size: 30px;
    margin-top: -120px;
  }
  .contact-form {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-right: 0px;
  }

  .input-group {
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: auto;
  }

  textarea {
    width: 100%;
    margin-right: 3px;
  }

  #contact-btn {
    width: 87%;
    margin-right: 40px;
    padding: 7px;
  }
  /* ---------------Home page Proprities--------------- */
  main {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    width: 100%;
    height: auto;
  }
  .home-sec1-desc {
    margin-top: 75px;
  }
  .home-sec1-desc h2 {
    font-size: 18px;
    margin-right: 20px;
  }
  span {
    font-size: 20px;
  }
  .home-sec1-desc p {
    color: #6f7979;
    font-size: 16px;
    margin-right: 20px;
  }
  #home-sec1-desc-btn {
    margin-right: 20px;
  }
  .home-sec1-img img {
    margin-right: 20%;
    margin-top: auto;
    width: 60%;
    height: auto;
  }
  .home-sec2-img img {
    margin-right: 25%;
    margin-top: auto;
    width: 45%;
    height: auto;
  }
  .home-sec2-desc ol {
    margin-right: -45px;
  }
  .home-sec2-desc ol li {
    font-weight: bold;
    font-size: 14px;
  }
  /* -------------------------------------------------- */
}
@media screen and (max-width: 992px) {
  /*-------------------------*/
  nav button {
    display: none;
  }
  nav .logo a {
    padding-left: 60px;
  }
  nav {
    justify-content: space-between;
    padding: 0 42px;
  }
  nav ul {
    gap: 20px;
  }
  nav ul li a {
    font-size: 15px;
  }
  /*---------------------------*/
  footer .social-links i {
    font-size: 28px;
  }
  footer .social-links {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
  }
  footer .line {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 2px 0 20px;
  }
  footer p {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
  /* ---------------Contact page  Proprities--------------- */
  #countact {
    font-size: 30px;
  }
  .social-icons {
    justify-content: right;
  }

  .social-icons a {
    margin-right: 30px;
  }

  .social-icons a i {
    font-size: 25px;
    justify-content: right;
    margin-top: -200px;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 80%;
  }
  .contact-info {
    border-radius: 27px 27px 0px 0px;
    width: 107%;
    height: auto;
  }
  .contact-info p {
    margin-right: 44px;
    max-width: 420px;
    font-size: 17px;
  }
  .social-icons2 a i {
    font-size: 30px;
    margin-top: -120px;
  }
  .contact-form {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-right: 0px;
  }

  .input-group {
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: auto;
  }

  textarea {
    width: 100%;
    margin-right: 3px;
  }

  #contact-btn {
    width: 87%;
    margin-right: 20px;
    padding: 7px;
  }
  /* ---------------About page  Proprities--------------- */
  .Info-about1 {
    display: flex;
    flex-direction: row;
  }
  .Info-about1-desc {
    color: #fff;
    font-size: 14px;
    margin: 20px;
  }
  .Info-about1-desc h3 {
    font-size: 17px;
  }
  .Info-about1-desc p {
    max-width: 950px;
    font-size: 16px;
  }
  .Info-about1-img {
    margin: 5px 0px;
  }
  .Info-about1-img img {
    width: 75%;
    height: auto;
  }
  .Info-about2 h2 {
    font-size: 22px;
  }
  .Info-about2 p {
    max-width: 500px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  /*Display Burger List*/
  nav {
    padding: 0 42px;
  }
  nav ul {
    display: none;
  }
  nav.open ul {
    display: flex;
    flex-direction: column;
    gap: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(4, 162, 233);
    position: absolute;
    left: 0px;
    top: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  nav.open ul li {
    padding: 15px 20px;
  }
  nav.open ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-weight: bold;
    display: block;
  }
  nav.open ul li:hover {
    background-color: #78d2fb;
  }
  nav.open ul li a:hover {
    color: #fff;
  }
  nav button#menuButton {
    display: flex;
  }
  /*----------------------------------------*/
  .course {
    width: 85%;
  }
  .course-image {
    height: auto;
  }
  /*----------------------------------------*/
  footer .social-links i {
    font-size: 25px;
  }
  footer .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  footer .line {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 2px 0 20px;
  }
  footer p {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
  /* ---------------About page  Proprities--------------- */
  .about-page {
    margin-top: 27%;
  }
  .about-title {
    font-size: 20px;
  }
  .Info-about1 {
    display: flex;
    flex-direction: column;
  }
  .Info-about1-desc {
    color: #fff;
    font-size: 16px;
    margin: 20px;
  }
  .Info-about1-desc h3 {
    font-size: 20px;
  }
  .Info-about1-desc p {
    max-width: 400px;
    font-size: 18px;
  }
  .Info-about1-img {
    margin: 5px 0px;
  }
  .Info-about1-img img {
    width: 100%;
    height: auto;
    float: left;
  }
  .Info-about2 h2 {
    font-size: 22px;
  }
  .Info-about2 p {
    max-width: 500px;
    font-size: 16px;
  }
  /* ---------------Contact page  Proprities--------------- */
  #countact {
    font-size: 30px;
  }
  .social-icons {
    justify-content: right;
  }

  .social-icons a {
    margin-right: 30px;
  }

  .social-icons a i {
    font-size: 25px;
    justify-content: right;
    margin-top: -200px;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 80%;
  }
  .contact-info {
    border-radius: 27px 27px 0px 0px;
    width: 116%;
    height: auto;
  }
  .contact-info p {
    margin-right: 22px;
    max-width: 420px;
    font-size: 17px;
  }
  #Conc {
    font-size: 12px;
  }
  .social-icons2 a i {
    font-size: 30px;
    margin-top: -120px;
  }
  .contact-form {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-right: 0px;
  }

  .input-group {
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: auto;
  }

  textarea {
    width: 100%;
    margin-right: 3px;
  }

  #contact-btn {
    width: 87%;
    margin-right: 20px;
    padding: 7px;
  }
  /* ---------------programming-courses page  Proprities--------------- */
  .course1-image {
    width: 70%;
    margin: 0 auto;
  }
  .prog-course1 {
    max-width: 100%;
    text-align: center;
  }
  .prog-course h2 {
    text-align: center;
  }
  .course1-desc p {
    font-size: 14px;
  }
  .course1-desc h3 {
    font-size: 17px;
  }
  /* ---------------Home-courses page Proprities--------------- */
  main {
    display: inline-block;
    min-height: 60vh;
    width: 100%;
    height: auto;
  }
  .home-sec1 {
    margin-top: 25%;
  }
  .home-sec1-desc h2 {
    font-size: 18px;
    margin-right: 10%;
  }
  span {
    font-size: 20px;
  }
  .home-sec1-desc p {
    color: #6f7979;
    font-size: 16px;
    margin-right: 10%;
    max-width: 80%;
  }
  #home-sec1-desc-btn {
    margin-right: 10%;
  }
  .home-sec1-img img {
    margin-right: 10%;
    width: 80%;
    height: auto;
  }
  .Info-video-desc {
    font-size: 20px;
  }
  .Info-video video {
    width: 375px;
    height: 257px;
    border: 2px solid #073c54;
    margin: 10px 0px 15px 0px;
  }
  .home-sec2-img img {
    width: 70%;
    height: auto;
    margin-right: 10%;
  }
  .home-sec2-desc ol {
    margin-right: 10px;
  }
  .home-sec2-desc ol li {
    font-weight: bold;
    font-size: 14px;
  }
  /* -------------------------------------------------- */
}
@media screen and (max-width: 576px) {
  nav ul li a {
    font-size: 11px;
  }
  nav .logo a {
    font-size: 18px;
  }
  /*--------------------------*/
  footer .social-links i {
    font-size: 25px;
  }
  footer .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  footer .line {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 2px 0 20px;
  }
  footer p {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
}
@media screen and (min-width: 595px) and (max-width: 800px) {
  /* ---------------programming-courses page Proprities--------------- */
  .course1-image {
    width: 40%;
  }
  .prog-course1 {
    max-width: 120%;
    text-align: right;
  }
  .course1-desc p {
    font-size: 13px;
  }
  .course1-desc h3 {
    font-size: 15px;
  }
  /* ---------------Contact page  Proprities--------------- */
  .contact-info {
    border-radius: 27px 27px 0px 0px;
    width: 107%;
    height: auto;
  }
  /* -------------------------------------------------- */
}
@media screen and (min-width: 595px) and (max-width: 850px) {
  /* ---------------programming-courses page Proprities--------------- */
  .course1-desc p {
    margin-top: 1px;
    font-size: 12.5px;
  }
  .course1-desc h3 {
    font-size: 13px;
  }
}
/* ---------------About page  Proprities--------------- */

@media (min-width: 992px) and (max-width: 1270px) {
  .instegram,
  .facebook,
  .x {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .person1,
  .person2,
  .person3,
  .person4 {
    margin: 0;
    margin-bottom: 30px;
    width: calc(50% - 10%);
  }

  .word-visitors,
  .word-instegram,
  .word-facebook,
  .word-x {
    font-size: 20px;
  }

  .fa-heart,
  .fa-comment,
  .fa-paper-plane,
  .fa-bookmark,
  .fa-thumbs-up,
  .fa-whatsapp,
  .fa-share,
  .fa-retweet,
  .fa-share-nodes {
    font-size: 145%;
    padding: 0 35px 15px 35px;
  }

  .x .fa-comment,
  .x .fa-retweet,
  .x .fa-heart,
  .x .fa-bookmark,
  .x .fa-share-nodes {
    padding: 0 25px 15px 30px;
  }

  .comment1,
  .comment2,
  .comment3,
  .comment4 {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .instegram,
  .facebook,
  .x {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .person1,
  .person2,
  .person3,
  .person4 {
    margin: 0;
    margin-bottom: 30px;
    width: calc(50% - 10%);
  }

  .word-visitors,
  .word-instegram,
  .word-facebook,
  .word-x {
    font-size: 20px;
  }

  .fa-heart,
  .fa-comment,
  .fa-paper-plane,
  .fa-bookmark,
  .fa-thumbs-up,
  .fa-whatsapp,
  .fa-share,
  .fa-retweet,
  .fa-share-nodes {
    font-size: 145%;
    padding: 0 25px 15px 25px;
  }

  .x .fa-comment,
  .x .fa-retweet,
  .x .fa-heart,
  .x .fa-bookmark,
  .x .fa-share-nodes {
    padding: 0 15px 15px 20px;
  }

  .comment1,
  .comment2,
  .comment3,
  .comment4 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .instegram,
  .facebook,
  .x {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  #other {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .person1,
  .person2,
  .person3,
  .person4 {
    padding: auto;
    margin: auto;
    margin-bottom: 20px;
    width: calc(100% - 20%);
  }

  .word-instegram,
  .word-facebook,
  .word-x {
    padding: 5%;
    margin: 0%;
  }

  .comment1,
  .comment2,
  .comment3,
  .comment4 {
    font-size: 18px;
  }

  .word-instegram,
  .word-facebook,
  .word-x {
    padding: 0%;
    margin: 20px 0 0 50px;
  }
}

@media (max-width: 500px) {
  .person1,
  .person2,
  .person3,
  .person4 {
    width: calc(100% - 10%);
  }

  .word-instegram,
  .word-facebook,
  .word-x {
    margin: 20px 0 0 10px;
  }

  .word-visitors {
    padding: 20px 10px 0 0;
  }
}
/*----------------------------------------------------*/
#other_title {
  display: none;
}
#other {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  background-color: rgba(202, 234, 247, 0.959);
  padding: 40px 0 30px;
  justify-content: center;
}
.county {
  margin-right: -65px;
  margin-top: 25px;
}
/*----------------LOGIN PAGE ---------------------*/
.lg-page {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.cnt {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.cnt h1 {
  color: rgb(4, 162, 233);
  margin-bottom: 20px;
}

.logo2 {
  margin-bottom: 15px;
}

.logo2 i {
  font-size: 50px;
  color: rgb(4, 162, 233);
}

.ttl {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.grp {
  margin-bottom: 15px;
  text-align: right;
}

.lbl {
  display: block;
  margin-bottom: 5px;
  color: #535050;
  font-weight: bold;
  margin-right: 12px;
}
#email {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
.input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

#email:focus {
  outline: none;
  border-color: rgb(4, 162, 233); /* تغيير اللون عند التركيز */
  box-shadow: 0 0 5px rgba(0, 102, 204, 0.2); /* إضافة تأثير ظل عند التركيز */
}
.input:focus {
  outline: none;
  border-color: rgb(4, 162, 233);
  box-shadow: 0 0 5px rgba(0, 102, 204, 0.2);
}

.btn {
  display: block;
  width: 95%;
  background-color: rgb(4, 162, 233);
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #004d99;
  color: #fff;
  transform: scale(1.03);
}

.ftr {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.soc {
  margin-top: 10px;
}

.soc a {
  color: rgb(4, 162, 233);
  margin: 0 5px;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.soc a:hover {
  color: #004d99;
}

@media (max-width: 768px) {
  .cnt {
    padding: 15px;
  }

  h1 {
    font-size: 18px;
  }

  .input {
    font-size: 14px;
  }
  #email {
    font-size: 14px;
  }
  .btn {
    padding: 10px;
    font-size: 14px;
  }
}
/*-----------------------------------------------------*/
